* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
}

.counter {
  width: 30%;
  height: 30%;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}
.counter h1 {
  margin-bottom: 30px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.counter button {
  color: #fff;
  padding: 15px 20px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#increment {
  background: red;
}
#decrement {
  background: green;
}
#reset {
  background: #333;
}
